<div class="main">
    <div id="header">
        <div class="logo">
            <a href="https://www.linkedin.com/in/mohit-varma-862272299/" target="_blank">
                <img src="https://i.ibb.co/kq7xXdq/logo.png" alt="logo" width="75" height="75">
            </a>
        </div>
        <ul class="options">
            <li><a href="">Home</a></li>
            <li><a href="">Games</a></li>
            <li><a href="">Movies</a></li>
            <li><a href="">Shows</a></li>
        </ul>
        <div class="search">
            <input type="text" placeholder="Search">
        </div>    
        <div class="account">
            <button mat-button (click)="changeName()">TestMe</button>
            <a href="">{{accountText}}</a>
        </div>
    </div>
</div>
