<div class="main" style="height:auto;width:100%" [ngStyle]="{backgroundImage: 'url('+image+')', 'background-repeat': 'no-repeat', 'background-position': 'center','background-size': 'cover'}">
    <div class="text">
        <p class="title">Record It!</p>
        <p class="subheading">Record and review your entertainment!</p>
        <ul>
            <li>Catalog your collection</li>
            <li>Review your items</li>
            <li>Find out how long it will take to complete your backlog</li>
            <li>Share your collection</li>
            <li>Track your backlogs</li>
        </ul>
        <div class="options">
            <button mat-fab extended  class="myButton">
              GET STARTED
            </button>
            <button mat-fab extended  class="myButton">
                Learn More
            </button>
        </div>
    </div>
</div>
